<!--
<div class="container-sm">100% wide until small breakpoint</div>
<div class="container-md">100% wide until medium breakpoint</div>-->
<!--<div class="container-xl">100% wide until extra large breakpoint</div>
<div class="container-xxl">100% wide until extra extra large </div>-->
<div class="container-lg">
    <div class="container-title">
        <h1>Bienvenido al mundo del Café</h1>
    </div>
    <div class="container-img">
        <img src="img/8.jpg" alt="Cafe">
    </div>
    <div class="container-textoDeEnmedio">
        <h2 class="intermedio">Tipos de granos de Cafes</h2>
    </div>
    
</div>






