<div class="container-body">

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
                <img src="img\1.png" class="card-img-top" alt="">
                <div class="card-body">
                    <h2 class="card-title">Grano Arabica</h2>
                    <p class="card-text">El arábica (60 - 70% mundial) se cultiva en altura, tiene menos cafeína, sabor suave y complejo con notas frutales y florales, pero es más delicado y caro de producir..</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <img src="img/2.png" class="card-img-top" alt="">
            <div class="card-body">
                <h2 class="card-title">Grano Robusta</h2>
                <p class="card-text">El robusta (30 - 40% mundial) crece en zonas bajas, contiene más cafeína, ofrece un sabor fuerte, amargo y terroso, con más cuerpo y crema, siendo más resistente y barato de cultivar..</p>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <img src="img/3.png" class="card-img-top" alt="">
            <div class="card-body">
                <h2 class="card-title">Grano Liberica</h2>
                <p class="card-text">El Liberica representa menos del 2% del café mundial; tiene granos grandes e irregulares, sabor fuerte con notas amaderadas y ahumadas, cultivado sobre todo en Asia..</p>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <img src="img/4.png" class="card-img-top" alt="">
            <div class="card-body">
                <h2 class="card-title">Grano Excelsea</h2>
                <p class="card-text">El Excelsa, hoy clasificado como variedad de Liberica, aporta menos del 1% de la producción; se caracteriza por su perfil aromático, afrutado y ácido con matices oscuros, usado sobre todo en mezclas para dar complejidad..</p>
            </div>
            </div>
        </div>
    </div>
</div>

<div class="container-textoDeEnmedio"><h2>tipos de tuestes en el Café</h2></div>

<div class="container-body">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
                <img src="img/tuesteClaro.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h2 class="card-title">Tueste claro ☕</h2>
                    <p class="card-text">Granos de color marrón claro. Conserva más acidez, notas frutales y sabor original del grano. Tiene más cafeína que los demás.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <img src="img/tuesteMedio.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h2 class="card-title">Tueste medio ☕</h2>
                <p class="card-text">Marrón medio, con equilibrio entre acidez, dulzor y amargor. Muy común en cafeterías por su sabor balanceado.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="img/tuesteMedioOscuro.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h2 class="card-title">Tueste medio-oscuro ☕</h2>
                <p class="card-text">Marrón oscuro con aceites visibles. Menos acidez, cuerpo más pesado y sabor más intenso, con notas a chocolate o caramelo.</p>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <img src="img/tuesteOscuro.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h2 class="card-title">Tueste oscuros ☕</h2>
                <p class="card-text">Muy oscuro, casi negro, con superficie aceitosa. Sabor fuerte, amargo y ahumado. Tiene menos cafeína y resalta más el tostado que las notas originales del grano.</p>
            </div>
            </div>
        </div>
    </div>
</div>